/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&family=Tilt+Prism&display=swap");

/* GENERAL VALUES */
:root {
  /* FOR COLORS */
  --main-text-color: #444444;
  --main-bgc-color: #f3f3f3;
  --green-light: #5ec576;
  --green-dark: #4bbb7d;
  --yellow-light: #ffcb03;
  --yello-dark: #ffbb00;
  --light-red: #ff585f;
  --dark-red: #fd424b;
  --gradient-for-green: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-for-yellow: linear-gradient(to top left, #ffb003, #ffcb03);
  /* TRANSITIONS */
  --transitio-linear: all 0.3s linear;
  --transition-e-in-out: all 0.3s ease-in-out;
  /* PADDING DESIGN */
  --section-padding: 5rem 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: var(--main-text-color);
  /* letter-spacing: 1px; */
}
img {
  width: 100%;
  display: block;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--main-text-color);
}
/* END OF GENERAL VALUES */
/* ASIDE */
.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background-color: white;
  /* border: 3px solid black; */
  display: grid;
  place-items: center;
  transform: translateX(-120%);
  transition: var(--transition-e-in-out);
}
.show-aside {
  transform: translateX(0);
}
.aside-center {
  /* border: 3px solid red; */
}
.aside-center > * {
  /* border: 3px solid green; */
}
.aside-links {
  /* border: 3px solid blue; */
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  text-align: center;
  text-transform: capitalize;
}
.aside-link {
  font-size: 1.5rem;
}
.aside-register-btn {
  margin: 1.5rem 0;
  font-weight: 500;
  border-radius: 20px;
  display: inline-block;
  border: none;
  background-color: var(--green-dark);
  padding: 1rem;
  text-transform: capitalize;
}
.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 2.5rem;
  color: red;
  cursor: pointer;
  transition: var(--transition-e-in-out);
}
.close-btn:hover {
  transform: scale(1.2) rotate(90deg);
}

/* END OF ASIDE */
/* NAVBAR */
.navbar {
  height: 5rem;
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bgc-color);
}
.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  background-color: #fff;
  z-index: 5;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: var(--transitio-linear);
  /* opacity: 1; */
}
.navbar-center {
  max-width: 1170px;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-links {
  display: none;
}
.navbar-logo-container {
  height: 3.5rem;
  width: 4rem;
}
.navbar-logo {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.navbar-btn {
  cursor: pointer;
  color: var(--main-text-color);
  font-size: 2rem;
  -webkit-animation-name: navBtn;
  animation-name: navBtn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* END OF NAVBAR */
/* BANNER */
.banner {
  min-height: calc(100vh - 5rem);
  /* background-color: #fff; */
  background-color: var(--main-bgc-color);
  /* border: 3px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner-center {
  /* border: 3px solid red; */
  max-width: 1500px;
  width: 90vw;
  margin: 0 auto;
  z-index: 0;
}
.banner-info {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.banner-info-main-title {
  text-transform: uppercase;
}
.banner-info-second-title {
  text-transform: lowercase;
}
.learn-more-btn {
  /* border: 3px solid black; */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  transition: var(--transitio-linear);
}
.learn-more-btn > a {
  text-transform: capitalize;
  display: inline-block;
  border-bottom: 3px solid black;
}
.learn-more-btn:hover {
  transform: translateY(5px);
}
.banner-img {
  display: none;
}
/* END OF BANNER */

/* FEATURES */
.section {
  min-height: 100vh;
  padding: 4rem 0;
}
.section-1 {
  background-color: #fff;
}
.section-center {
  max-width: 1170px;
  width: 90vw;
  margin: 0 auto;
}
.section-information {
  /* border: 3px solid black; */
  max-width: 1170px;
  width: 90vw;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 3rem 0;
}
.card {
  padding: 1rem 1.25rem;
  /* border: 3px solid black; */
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: var(--transition-e-in-out);
}
.card:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.section-title-top {
  text-transform: uppercase;
  color: var(--green-dark);
}
.section-title-bottom {
  text-transform: capitalize;
}
.card-img-container {
  height: 17rem;
}
.card-img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.card-information-side {
  text-align: center;
}
.info-icon {
  display: inline-block;
  margin: 0.5rem 0;
  border-radius: 50%;
  background-color: #d1e9d7;
  color: var(--green-dark);
  font-size: 1.5rem;
  padding: 0.5rem 0.8rem;
}
.card-info-title {
  text-transform: capitalize;
  margin: 0.5rem;
}
.section-information > * {
  /* border: 3px solid red; */
}
/* END OF FEATURES */
/* OPERATIONS */
.operations-section {
  padding: 5rem 0;
}
.section-2 {
  background-color: var(--main-bgc-color);
}
.slider-system {
  margin: 1.5rem 0;
  min-height: 20rem;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
}
.slide {
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 5px;
  height: 85%;
  overflow-y: auto;
  margin-bottom: 0.5rem;
  text-align: center;
  display: none;
}
.slide-active {
  display: block;
}
.slider-btns {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.slider-btn {
  color: var(--main-text-color);
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 15px;
  text-transform: capitalize;
  transition: var(--transitio-linear);
  border: none;
  display: flex;
  align-items: center;
}
.active-slider-btn {
  transform: translateY(-10px);
}
.slider-btn:hover {
}
.slide-main-title {
  text-transform: capitalize;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}
.slider-btn > p {
  display: none;
}
.yellow {
  background-color: var(--yellow-light);
}
.yellow:hover {
  background-color: #ffa200;
}
.green {
  background-color: var(--green-light);
}
.green:hover {
  background-color: #00b16d;
}
.red {
  background-color: var(--light-red);
}
.red:hover {
  background-color: orangered;
}
.slide-left-side {
  display: inline-block;
  font-size: 1.5rem;
}
#home {
  background-color: #c3f7d0;
  color: #5ec576;
  border-radius: 50%;
  padding: 1.25rem;
}
#money {
  border-radius: 50%;
  padding: 1.25rem;
  background-color: #fff5cf;
  color: #ffbb00;
}
#user {
  background-color: #ffe2e3;
  color: #ff7b80;
  border-radius: 50%;
  padding: 1.25rem;
}
/* END OF OPERATIONS */
/* PROFILE */
.profile-section {
  padding: 5rem 0;
}

.slider-center {
  display: flex;
}

.profile {
  min-height: 25rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}
/* //SLAYT AYARLAMA */
.profile-small-img-container {
  height: 4rem;
  width: 4rem;
}
.profile-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.profile-text-title {
  color: #272727;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.profile-text-information {
  color: #272727;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
}
.profile-about-text {
  color: #272727;
}
.profile-about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  margin-top: 1.5rem;
}
.profile-name {
  text-transform: capitalize;
  font-size: 1.2rem;
}
.profile-location {
  font-size: 0.95rem;
  text-transform: capitalize;
}

/* END OF PROFILE */
/* FOOTER */
.footer {
  background-color: #343434;
  color: white;
}
.footer-center {
  max-width: 1170px;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  padding: 5rem 0;
}
.footer-title {
  text-transform: uppercase;
}
.footer-links {
  /* border: 3px solid white; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  align-items: center;
  justify-content: center;
}
.footer-link {
  display: inline-block;
  color: #b6b6b6;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  transition: var(--transition-e-in-out);
}
.footer-link:hover {
  color: white;
  transform: scale(1.05);
}
.footer-join-btn {
  border: 3px solid white;
}
.footer-img-container {
  -webkit-animation-name: footerIcon;
  animation-name: footerIcon;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 5rem;
  margin: 2rem 0;
}
.footer-img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.footer-copyright {
  text-transform: uppercase;
}
.footer-divider {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 1rem 0;
}
/* END OF FOOTER */
/* SWIPERJS CSS */
.swiper {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  border: 2px dashed black;
}

.swiper-slide:nth-child(1n) {
  padding: 1rem;
  background: rgba(242, 241, 241, 0.9);
}
/* .swiper-slide:nth-child(2n) {
}

.swiper-slide:nth-child(3n) {
} */

.swipe-left {
  text-align: center;
  color: var(--green-dark);
  text-transform: uppercase;
  margin-top: 2rem;
  -webkit-animation-name: swipeLeft;
  animation-name: swipeLeft;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* END OF SWIPER */
/* SIGNUP */
#signUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin: 0 auto;
  background-color: #e0e0e0;
  z-index: 1000;
  border: none;
  border-radius: 10px;
  padding: 1.5rem;
  max-width: 40rem;
  width: 90vw;
}
#signUp.open {
  -webkit-animation-name: signOpen;
  animation-name: signOpen;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 1000;
}
#signUp.close {
  -webkit-animation-name: signClose;
  animation-name: signClose;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 1;
  transition: all 0.4s linear;
}
.signUp-close-btn {
  position: absolute;
  right: 0.7rem;
  top: 0.2rem;
  font-size: 2rem;
  border-radius: 5px;
  color: #018250;
  cursor: pointer;
  display: inline-block;
  transition: var(--transitio-linear);
}
.signUp-close-btn:hover {
  color: red;
}
.signUp-title {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
  color: #018250;
}
.signUp-title-underline {
  width: 90%;
  margin: 0 auto 2.5rem auto;
  height: 2px;
  background-color: #018250;
}
.form-label {
  text-transform: capitalize;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}
.form-input {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding-left: 0.3rem;
}
.account-register {
  margin: 0.5rem auto 0 auto;
  padding: 0.5rem 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  background-color: var(--green-dark);
}
.account-register > a {
  color: white;
  font-weight: bolder;
}
/* END OF SIGNUP */
/* MEDIA QUARIES */
@media screen and (min-width: 600px) {
  .form-part {
    display: grid;
    grid-template-columns: 170px 1fr;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
  }
  .signForm {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .form-part {
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .aside {
    display: none;
  }
  .navbar-btn {
    display: none;
  }
  .navbar-links {
    display: flex;
    align-items: center;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }
  .navbar-link {
    text-transform: capitalize;
  }
  .navbar-register-btn {
    margin-left: 1.5rem;
    font-weight: 500;
    border-radius: 20px;
    display: inline-block;
    border: none;
    background-color: var(--green-dark);
    padding: 1rem;
    text-transform: capitalize;
  }
  .banner-info-main-title {
    font-size: 3rem;
  }
  .banner-info-second-title {
    font-size: 1.3rem;
  }
  .learn-more-btn {
    font-size: 1.2rem;
  }
  .card {
    background-color: transparent;
    box-shadow: none;
  }
  .card:hover {
    box-shadow: none;
  }
  .card-img {
    border-radius: 5px;
  }
  .slider-btn > p {
    display: block;
    font-size: 0.9rem;
  }
  .slider-btns {
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
  .slider-btn {
    -moz-column-gap: 0.6rem;
    column-gap: 0.6rem;
  }
  .profile-text-title {
    font-size: 2rem;
  }
  .profile-text-information {
    font-size: 1.1rem;
  }
  .profile-name {
    font-size: 1.3rem;
  }
  .profile-location {
    font-size: 1.2rem;
  }
  .swiper {
    width: 60%;
  }
}
@media screen and (min-width: 968px) {
  .navbar-links {
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }
  .banner-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }
  .banner-center > * {
  }
  .banner-img {
    display: flex;
  }
  .banner-img-left {
    height: 22rem;
    position: relative;
    border-radius: 5px;
  }
  .banner-self-img-left {
    height: 100%;
    border-radius: 5px;
  }
  .banner-info-main-title {
    font-size: 2.5rem;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    flex-direction: column-reverse;
  }
  .profile {
    min-height: 20rem;
  }
}
@media screen and (min-width: 1170px) {
  .banner-info-main-title {
    font-size: 3rem;
  }
  .banner-img-left {
    height: 25rem;
  }
}
/* END OF MEDIA QUARIES */
/* ANIMATIONS */
@-webkit-keyframes navBtn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navBtn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes footerIcon {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes footerIcon {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes swipeLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes swipeLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes signOpen {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  /* 70% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  95% {
    transform: translate(-50%, -50%) scale(1.1);
  } */
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes signOpen {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  /* 70% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  95% {
    transform: translate(-50%, -50%) scale(1.1);
  } */
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes signClose {
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  /* 30% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  5% {
    transform: translate(-50%, -50%) scale(1.1);
  } */
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes signClose {
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  /* 30% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  5% {
    transform: translate(-50%, -50%) scale(1.1);
  } */
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
}

/* END OF ANIMATIONS */
/* HIDDEN CLASS */
.hidden {
  visibility: hidden;
  opacity: 0;
}
.profile-overflow {
  overflow-x: hidden;
}
